<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{pageTitle}}</title>
	</head>
	<body>
		{{> header}}
		<h1>Welcome to my projects page</h1>
		<a href='https://apsicle.github.io/portfolio/'>Portfolio</a>
		</p>
		
		{{> footer}}
	</body>
</html>